<!-- calling common header without login navigation bar using include method of express  -->
<%- include('includes/header.ejs') %>
<!-- submitted successfully message page will be render when user process to submit the new request from homepage -->
<main>
    <div class="containerMsg">
        <h1>Thank you</h1>
        <p>Your request has been successfully submitted</p>
    </div>
</main>
<%- include('includes/footer.ejs') %>
<!-- calling common footer from includes folder using include method of express-->
